Repository sl1nki/terraform-aws-go-lambda: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, validate, tflint, security, docs

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Install: https://github.com/evilmartians/lefthook
#
# Quick setup:
#   brew install lefthook    # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Optional tools for full functionality:
#   brew install tflint opentofu trivy terraform-docs

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.tf"
      run: tofu fmt -check -recursive
      fail_text: "Terraform files not formatted. Run 'tofu fmt -recursive'"

    validate:
      glob: "*.tf"
      run: |
        tofu init -backend=false -input=false > /dev/null 2>&1
        tofu validate
      fail_text: "Terraform validation failed"

    tflint:
      glob: "*.tf"
      run: |
        if command -v tflint &> /dev/null; then
          tflint --init > /dev/null 2>&1
          tflint --recursive --format compact
        else
          echo "tflint not installed, skipping (install: brew install tflint)"
        fi
      fail_text: "TFLint found issues"

    security:
      glob: "*.tf"
      run: |
        if command -v trivy &> /dev/null; then
          trivy config --severity HIGH,CRITICAL --exit-code 1 .
        else
          echo "trivy not installed, skipping (install: brew install trivy)"
        fi
      fail_text: "Security scan found issues"

    docs:
      glob: "{*.tf,README.md}"
      run: |
        if command -v terraform-docs &> /dev/null; then
          terraform-docs . --output-check
        else
          echo "terraform-docs not installed, skipping (install: brew install terraform-docs)"
        fi
      fail_text: "README.md is out of date. Run 'terraform-docs .'"

pre-push:
  commands:
    validate-examples:
      run: |
        for dir in examples/*/; do
          echo "Validating $dir"
          (cd "$dir" && tofu init -backend=false -input=false > /dev/null 2>&1 && tofu validate) || exit 1
        done
      fail_text: "Example validation failed"

Add security policy for vulnerability reporting
  SECURITY.md
Due: none

Add security policy for vulnerability reporting (#3)
  SECURITY.md
Due: none

Replace OWNER placeholder with sl1nki
  .github/release-body.md
  CHANGELOG.md
  README.md
Due: docs

Replace OWNER placeholder with sl1nki (#4)
  .github/release-body.md
  CHANGELOG.md
  README.md
Due: docs

Prepare v1.1.0 release
  CHANGELOG.md
Due: none

Prepare v1.1.0 release (#5)
  CHANGELOG.md
Due: none

Update documentation to use Terraform Registry source format
  .github/release-body.md
  README.md
Due: docs

Update documentation to use Terraform Registry source format (#6)
  .github/release-body.md
  README.md
Due: docs

Update changelog for v1.1.1
  CHANGELOG.md
Due: none

Update changelog for v1.1.1 (#7)
  CHANGELOG.md
Due: none

Update README with new AWS provider version constraint
  README.md
Due: docs

docs: update README with new AWS provider version constraint
  README.md
Due: docs

Fix for_each failure when policy ARN is unknown at plan time
  iam.tf
Due: fmt-check, validate, tflint, security, docs

Fix for_each failure when policy ARN is unknown at plan time (#13)
  iam.tf
Due: fmt-check, validate, tflint, security, docs

Drop pipefail from local-exec provisioner for dash compatibility
  main.tf
Due: fmt-check, validate, tflint, security, docs

Drop pipefail from local-exec provisioner for dash compatibility (#16)
  main.tf
Due: fmt-check, validate, tflint, security, docs

ci: add workflow to fix Dependabot docs failures
  .github/workflows/dependabot-docs.yml
Due: none

ci: add workflow to fix Dependabot docs failures (#18)
  .github/workflows/dependabot-docs.yml
Due: none

fix: check staged diff in dependabot-docs workflow
  .github/workflows/dependabot-docs.yml
Due: none

fix: check staged diff in dependabot-docs workflow (#19)
  .github/workflows/dependabot-docs.yml
Due: none

fix: reclaim file ownership after terraform-docs docker step
  .github/workflows/dependabot-docs.yml
Due: none

fix: reclaim file ownership after terraform-docs docker step (#20)
  .github/workflows/dependabot-docs.yml
Due: none

ci: use dependabot-fixer bot identity for docs fix commits
  .github/workflows/dependabot-docs.yml
Due: none

ci: use dependabot-fixer bot identity for docs fix commits (#21)
  .github/workflows/dependabot-docs.yml
Due: none

docs: regenerate README for updated AWS provider constraint
  README.md
Due: docs

fix: scope dependabot docs retry check to PR branch only
  .github/workflows/dependabot-docs.yml
Due: none

ci: dispatch CI after dependabot docs auto-fix
  .github/workflows/ci.yml
  .github/workflows/dependabot-docs.yml
Due: none

ci: auto-merge dependabot PRs and re-trigger CI after docs regen
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-docs.yml
Due: none

ci: auto-merge dependabot PRs and re-trigger CI after docs regen (#50)
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-docs.yml
Due: none

ci: generate docs in CI instead of committing back to dependabot PRs
  .github/workflows/ci.yml
  .github/workflows/dependabot-docs.yml
Due: none

ci: generate docs in CI instead of committing back to dependabot PRs (#54)
  .github/workflows/ci.yml
  .github/workflows/dependabot-docs.yml
Due: none

docs: sync README provider version to >= 5.0, < 6.52
  README.md
Due: docs

docs: sync README aws version constraint to < 6.53
  README.md
Due: docs

docs: regenerate README terraform-docs for aws constraint bump
  README.md
Due: docs

docs: sync README requirements table with aws < 6.53 constraint
  README.md
Due: docs

docs: refresh README aws provider version to match versions.tf
  README.md
Due: docs

docs: refresh README aws provider version to < 6.55 to match versions.tf
  README.md
Due: docs

docs: refresh README aws provider version to match versions.tf (#66)
  README.md
Due: docs

ci: authenticate tflint --init to avoid GitHub rate limits
  .github/workflows/ci.yml
Due: none
